$dark-blue: rgb(1, 11, 25);
$dark-navy: #021631;
$blue: #03214a;

header.web__header {
  background-color: rgba(1, 11, 25, 0.5);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  div {
    a {
      font-size: 2rem;
    }
  }
  nav {
    ul {
      margin: 0;
      display: flex;
      justify-content: space-between;
      gap: 4rem;
        li {
          list-style: none;
          margin: 0;
          a {
            margin: 0;
          }
        }
    }
  }
}
